*{
    padding: 0px;
    margin: 0px;
}
body{
    background: linear-gradient(rgb(255, 255, 255) , rgb(192, 192, 214) , rgb(255, 255, 255) );
}
nav.header_nav{
    margin-top: 20px;
    padding: 0 20px;
    max-height: 70px;
    position:relative ;
}
img#logo{
    margin-top: 5px;
    max-height: 110px;
    max-width: 110px;
    border-radius: 50px;
}
main{
    padding-top: 50px;
}
.container{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
}
.login_logo{
    text-align: center;
}
.login_logo img{
    max-width: 150px;
    max-height: 150px;
}
div.signIn{
    padding: 3% 0;
}
div.signIn h6{
    text-align: center;
}
.login_footer{
    text-align: center;
}
.header_anchor{
    display: flex;
    padding-right: 10%;
}
div.main_div{
    min-height: 300px;
}
.footer_area{
    display: flex;
    position:sticky;
}
footer{
    padding: 3% 5%;
}

div.footer_section{
    text-align: center;
}
div.footer_section p, h6, a{
    color: wheat;
}
.margin_bottom_logo{
    margin-bottom: 3%;
}
#sign_in_to_procurement{
    color: black;
}
div.questions_link a{
    color: blue;
}
#registration_logo{
    margin-top: 10%;
}
.go_back_to_login a{
    color: blue;
}
.container-slider{
    display: flex;
    justify-content: space-around;
}
.fix_everything{
    margin-bottom: 5%;
}

.paragraphOfResturants{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}