*{
    padding: 0px;
    margin: 0px;
}
.login_footer{
    text-align: center;
}
.header_anchor{
    display: flex;
    padding-right: 10%;
}
div.main_div{
    min-height: 300px;
}
.footer_area{
    display: flex;
}
footer{
    padding: 3% 5%;
}

div.footer_section{
    text-align: center;
}
div.footer_section p, h6, a{
    color: wheat;
}
