<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category</title>
</head>
<body>
    <h1>Choose the type of your products !!</h1>
    <section>
        <div class="wholesalerType">
            
            <img class="d-block w-100" src="{% static 'img/home_page_slider_imgs/6.jpg' %}" alt="sliderImg">
        </div>

        <div class="wholesalerType">
        <img class="d-block w-100" src="{% static 'img/home_page_slider_imgs/6.jpg' %}" alt="sliderImg">
        </div>

        <div class="wholesalerType">
        <img class="d-block w-100" src="{% static 'img/home_page_slider_imgs/6.jpg' %}" alt="sliderImg">
        </div>

        <div class="wholesalerType">
        <img class="d-block w-100" src="{% static 'img/home_page_slider_imgs/6.jpg' %}" alt="sliderImg">
        </div>

        <div class="wholesalerType">
            <img class="d-block w-100" src="{% static 'img/home_page_slider_imgs/6.jpg' %}" alt="sliderImg">
        </div>

    </section>
    
</body>
</html>