<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

        <link rel="stylesheet" href="../static/css/css/category_store.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-dark bg-dark justify-content-between header_nav">
            <a class="navbar-brand" href="/home">Procurement</a>
            <h1 class="subject">Meat Stores</h1>
            <div class="header_anchor">
                <a class="navbar-brand" href="#">Log-Out</a>
            </div>
        </nav>
    </header>

    <section>
        <div class="container grow">
            <div class="row images_slider">
                
                <div class="col-sm-4">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="../static/img/meat_store_img/al noor.png" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">Meat Store Name</h5>
                          <a href="#" class="btn btn-primary buy_go">Go & Buy</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="../static/img/meat_store_img/alameen.jpg" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">Meat Store Name</h5>
                          <a href="#" class="btn btn-primary buy_go">Go & Buy</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="../static/img/meat_store_img/alfare3.png" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">Meat Store Name</h5>
                          <a href="#" class="btn btn-primary buy_go">Go & Buy</a>
                        </div>
                    </div>
                </div>
                
                <div class="col-sm-4">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="../static/img/meat_store_img/amani kobra.jpg" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">Meat Store Name</h5>
                          <a href="#" class="btn btn-primary buy_go">Go & Buy</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="../static/img/meat_store_img/ayam zaman.png" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">Meat Store Name</h5>
                          <a href="#" class="btn btn-primary buy_go">Go & Buy</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="../static/img/meat_store_img/daana.jpg" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">Meat Store Name</h5>
                          <a href="#" class="btn btn-primary buy_go">Go & Buy</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="../static/img/meat_store_img/dorat al nojoom.jpg" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">Meat Store Name</h5>
                          <a href="#" class="btn btn-primary buy_go">Go & Buy</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="../static/img/meat_store_img/download.png" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">Meat Store Name</h5>
                          <a href="#" class="btn btn-primary buy_go">Go & Buy</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="../static/img/meat_store_img/hafiz.jpg" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">Chickens Store</h5>
                          <a href="#" class="btn btn-primary buy_go">Go & Buy</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="../static/img/meat_store_img/Loay Salameh.jpg" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">Chickens Store</h5>
                          <a href="#" class="btn btn-primary buy_go">Go & Buy</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="../static/img/meat_store_img/qeresh.png.crdownload" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">Chickens Store</h5>
                          <a href="#" class="btn btn-primary buy_go">Go & Buy</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="../static/img/meat_store_img/sharawtawi.jpg" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">Chickens Store</h5>
                          <a href="#" class="btn btn-primary buy_go">Go & Buy</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="../static/img/meat_store_img/shawi al fraig.png" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">Chickens Store</h5>
                          <a href="#" class="btn btn-primary buy_go">Go & Buy</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="../static/img/meat_store_img/tareq al khalili.png" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">Chickens Store</h5>
                          <a href="#" class="btn btn-primary buy_go">Go & Buy</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="../static/img/meat_store_img/zaghawi.jpg" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">Meat Store Name</h5>
                          <a href="#" class="btn btn-primary buy_go">Go & Buy</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2 ">
                    <div class="card" style="width: 18rem;">
                            <img class="card-img-top " src="../static/img/meat_store_img/abood w karam.jpg" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">Meat Store Name</h5>
                          <a href="#" class="btn btn-primary buy_go">Go & Buy</a>
                        </div>
                      </div>
                </div>
            </div>
        </div>

    </section>

    <!-- <footer class="text-center text-lg-start bg-light text-muted bg-dark">
        <div class="text-center text-md-start mt-5">
            <div class="row mt-3">
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                <h6 class="text-uppercase fw-bold mb-4">
                    <i class="fas fa-gem me-3"></i>About Us
                </h6>
                <p></p>
            </div>
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                <p><i class="fas fa-home me-3"></i> Ramallah Palestine</p>
                <p><i class="fas fa-envelope me-3"></i>info@example.com</p>
                <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
                <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
            </div>
        </div>
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
            © 2021 Copyright:
            <a class="text-reset fw-bold" href="#">Procurement</a>
        </div>
    </footer> -->
    <footer class="text-center text-lg-start bg-light text-muted bg-dark">
        <div class="footer_area">
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 footer_section">
                <h6 class="text-uppercase fw-bold mb-3">Contact Us</h6>
                <hr>
                <p>Ramallah Palestine</p>
                <p>procurement@gmail.com</p>
                <p>+ 970 569 663 335</p>
                <p>+ 970 599 926 313</p>
            </div>
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 footer_section">
                <h6 class="text-uppercase fw-bold mb-3">Social Media</h6>
                <hr>
                <p><i class="fa fa-facebook me-3"><a href="http://www.facebook.com/"> Facebook</a></i></p>
                <p><i class="fa fa-linkedin me-3"><a href="http://www.linkedin.com/"> LinkedIn</a></i></p>
                <p><i class="fa fa-github me-3"><a href="http://www.github.com/"> GitHub</a></i></p>
            </div>
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 footer_section">
                <h6 class="text-uppercase fw-bold mb-3">About Us</h6>
                <hr>
                <p>
                    Procurement a website published in June the 3rd, in order to connect restaurant with markets needed
                    to save time and efforts.
                </p>
            </div>
        </div>
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
            <hr>
            © 2021
            <a class="text-reset fw-bold" href="#">Procurement</a>
        </div>
    </footer>

</body>

</html>