<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/css/category_store.css' %}">
        <link rel="stylesheet" href="{% static 'css/css/order_style.css' %}">
</head>
<body>
    <header style="margin-bottom: 2%;">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark header_nav">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <img id="logo" src="{% static 'img/procurement_logo.jpg' %}" alt="logo" loading="lazy"/>
                </div>
            </div>
            <div>
                <div>
                    <form action="/restaurant">
                        <button id="back_button" type="submit" class="btn btn-primary">Back</button>
                    </form>
                </div>
            </div>
            <div>
                <div>
                    <form action="/logout">
                        <button id="logout_button" type="submit" class="btn btn-primary">LogOut</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>
    <section>
        <div class="container grow">
            <div class="row images_slider">
                {% for user in users %}
                    <div class="col-sm-4">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="{{ user.logo }}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">{{user.name}}</h5>
                                <a href="/load_order" class="btn btn-primary">Go & Buy</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
</body>
</html>
