.grow .card{
    transition: 1s ease;
    }
    
    .grow .card:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 1s ease;
    z-index: 5;
    }

.body{
    padding: 5px;
}
.container{
    margin-left: 137px;
}